.carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible !important;
}

.carousel-indicators {
  bottom: -12% !important;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

a {
  width: 10% !important;
}
