body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(46, 46, 46));
  color: #ffffff;
}
